<div class = "container">
<div class = "col-xs-12">
	<h1>The iPhone 8 </h1>
	<p>By / Designerspen Jun 6, 2017 </p>
	<div class = "row icons ">
		<ul class = " socials">
			 <a href="http://www.facebook.com/sharer.php?u=http://designerspen.com/blogpost2.html" target="_blank">
			 	<li><img class= "img-responsive pictures" [src]="facebook"> </li>
			 </a>

			 <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
			   <li><img class= "img-responsive pictures" [src]="pintrest"></li>
			</a>

			 <a href="https://twitter.com/share?url=http://designerspen.com/blogpost2.html&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
			<li><img class= "img-responsive pictures" [src]="twitter"></li>
			</a>
			<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://designerspen.com/blogpost2.html" target="_blank">
			<li><img class= "img-responsive pictures" [src]="linkedin"></li>
			</a>
		</ul>
	</div>
	<div class = "pagecounter"></div>
	<p>So the 10th anniversary iphone will come out this year and as always it will be the best iPhone yet. So predictions so far that the iPhone 8 will most likely have are glass and a new in-display Touch ID paired with facial recognition, stainless steel redesign with a bezel-less OLED display, updates to 3D Touch, wireless charging, improved waterproofing and more.
	<br>Most Analysts are saying the iPhone 8 will outsell the iPhone 6 since there are a lot of iPhone users like myself who are waiting to upgrade.
Oh yah and it’s also expected to start at over $999.  </p>
	<h2>Links</h2>
	<p>
		
		<a href = "http://www.designerspen.com//">Website</a>
	</p>
	<img class = "img-responsive pictures" [src] = "post8">
	<img class = "img-responsive pictures" [src] = "post3">
	<img class = "img-responsive pictures" [src] = "post4">
	<img class = "img-responsive pictures" [src] = "post5">
	<img class = "img-responsive pictures" [src] = "post6">
	<img class = "img-responsive pictures" [src] = "post7">
	<img class = "img-responsive pictures" [src] = "post1">
	<img class = "img-responsive pictures" [src] = "post2">







</div>
</div>