<div class = "container">
<div class = "col-xs-12">
	<h1>Duy Tran </h1>
	<p>By / Duy Tran May 26, 2017 </p>
	<div class = "row icons ">
		<ul class = " socials">
			 <a href="http://www.facebook.com/sharer.php?u=http://designerspen.com/blogpost2.html" target="_blank">
			 	<li><img class= "img-responsive pictures" [src]="facebook"> </li>
			 </a>

			 <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
			   <li><img class= "img-responsive pictures" [src]="pintrest"></li>
			</a>

			 <a href="https://twitter.com/share?url=http://designerspen.com/blogpost2.html&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
			<li><img class= "img-responsive pictures" [src]="twitter"></li>
			</a>
			<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://designerspen.com/blogpost2.html" target="_blank">
			<li><img class= "img-responsive pictures" [src]="linkedin"></li>
			</a>
		</ul>
	</div>
	<div class = "pagecounter"></div>
	<p>Duy Tran is a Illustration student currently studying at College for Creative studies who really captures the expressions and details well in his work to express the story.   </p>
	<h2>Links</h2>
	<p>
		
		<a href = "https://www.instagram.com/Yutend/">Instagram</a>
	</p>
	<img class = "img-responsive pictures" [src] = "post1">
	<img class = "img-responsive pictures" [src] = "post2">
	<img class = "img-responsive pictures" [src] = "post3">
	<img class = "img-responsive pictures" [src] = "post4">
	<img class = "img-responsive pictures" [src] = "post5">
	<img class = "img-responsive pictures" [src] = "post6">








</div>
</div>