<div class = "banner">
	<img class = "img-responsive " [src]="post13">
</div>

<div class = "newsfeed">
	<div class = "col-xs-4">
		<div class = "test">
		     <a  id = "name" href = "app-tesla">
		     	<img class = "img-responsive block" [src]="post1">
		     	<h1 class = "image-category">Industrial Design</h1> 
		     	<h2 class = "image-title">Tesla Hope</h2>
		     	<h3 id="image-tag">By/ Andrew rudd Jun 8, 2017</h3>
		     </a>
	     </div>
	     <div class = "test">
		     <a  id = "name" href = "app-duy">
		     	<img class = "img-responsive block" [src]="post4">
		     	<h1 class = "image-category">Illustration</h1> 
		     	<h2 class = "image-title">Duy Tren</h2>
		     	<h3 id="image-tag">By/ Duy Tren May 26, 2017</h3>
		     </a>
	     </div>
	     <div class = "test">
		     <a  id = "name" href = "desk.html">
		     	<img class = "img-responsive block" [src]="post8">
		     	<h1 class = "image-category">Photography</h1> 
		     	<h2 class = "image-title">Lego Photo Project </h2>
		     	<h3 id="image-tag">By/ Michał Kulesza Jan 11, 2017</h3>
		     </a>
	     </div>
	      <div class = "test">
		     <a  id = "name" href = "desk.html">
		     	<img class = "img-responsive block" [src]="post11">
		     	<h1 class = "image-category">Industrial Design</h1> 
		     	<h2 class = "image-title">Exploring Design </h2>
		     	<h3 id="image-tag">By/ Chris Kim Jan 11, 2017</h3>
		     </a>
	     </div>
	</div>
	<div class = "col-xs-4">
		<div class = "test">
		     <a  id = "name" href = "app-hr">
		     	<img class = "img-responsive block" [src]="post2">
		     	<h1 class = "image-category">Tutorials</h1> 
		     	<h2 class = "image-title">Sketch Demo #7</h2>
		     	<h3 id="image-tag">By/ Designerspen Jun 7, 2017</h3>
		     </a>
	     </div>
	     <div class = "test">
		     <a  id = "name" href = "desk.html">
		     	<img class = "img-responsive block" [src]="post5">
		     	<h1 class = "image-category">Tutorials</h1> 
		     	<h2 class = "image-title">5 fonts you should try</h2>
		     	<h3 id="image-tag">By/ Designerspen Jun 16, 2017</h3>
		     </a>
	     </div>
	     <div class = "test">
		     <a  id = "name" href = "desk.html">
		     	<img class = "img-responsive block" [src]="post9">
		     	<h1 class = "image-category">Illustration</h1> 
		     	<h2 class = "image-title">A Wanders Dream</h2>
		     	<h3 id="image-tag">By/ Christoph Sokol May 16, 2017</h3>
		     </a>
	     </div>
	     <div class = "test">
		     <a  id = "name" href = "desk.html">
		     	<img class = "img-responsive block" [src]="post12">
		     	<h1 class = "image-category">Tutorials</h1> 
		     	<h2 class = "image-title">Sketch Demo #2</h2>
		     	<h3 id="image-tag">By/ Designerspen May 23, 2017</h3>
		     </a>
	     </div>
	</div>
	<div class = "col-xs-4">
		<div class = "test">
		     <a  id = "name" href = "app-iphone8">
		     	<img class = "img-responsive block" [src]="post3">
		     	<h1 class = "image-category">Tech</h1> 
		     	<h2 class = "image-title">Iphone8 Leaks</h2>
		     	<h3 id="image-tag">By/ Designerspen Jun 17, 2017</h3>
		     </a>
	     </div>
	     <div class = "test">
		     <a  id = "name" href = "desk.html">
		     	<img class = "img-responsive block" [src]="post6">
		     	<h1 class = "image-category">Tech</h1> 
		     	<h2 class = "image-title">This Audi is Beautiful</h2>
		     	<h3 id="image-tag">By/ Designerspen Jun 19, 2017</h3>
		     </a>
	     </div>
	     <div class = "test">
		     <a  id = "name" href = "desk.html">
		     	<img class = "img-responsive block" [src]="post7">
		     	<h1 class = "image-category">Entertainment Arts</h1> 
		     	<h2 class = "image-title">Cartooon Network Storyboard Artist</h2>
		     	<h3 id="image-tag">By/ Jenn Strickland Jun 19, 2017</h3>
		     </a>
	     </div>
	     <div class = "test">
		     <a  id = "name" href = "desk.html">
		     	<img class = "img-responsive block" [src]="post10">
		     	<h1 class = "image-category">News</h1> 
		     	<h2 class = "image-title">2017 Middlecott Sketchbattle</h2>
		     	<h3 id="image-tag">By/ Designerspen Jan 11, 2017</h3>
		     </a>
	     </div>
	</div>

</div>

