<div class = "container">
	<div class = "col-xs-11 content">
		<h1>Sign up</h1>
		<img class = "img-responsive gif" [src] ="imagepath">
		<form (ngSubmit)="onSup(sForm)" #sForm="ngForm" *ngIf="!(user | async)?.uid">
			<div class="form-group">
				<span class = "glyphicon glyphicon-envelope"></span><label for="email">Email</label>
				<input class = "form-control" placeholder="Enter Email" type="email"id="email"name="email"ngModel required>
				<span class = "glyphicon glyphicon-ice-lolly-tasted"></span><label for="email">Password</label>
				<input class = "form-control" placeholder="Enter Password" type="password"id="password"name="password"ngModel required>
				<input class = "form-control" placeholder="Confirm Password" type="password"id="password"name="password"ngModel required>
				<span class = "glyphicon glyphicon-user"></span><label for="displayName">Display name</label>
				<input name="displayName" placeholder="Enter a display name" [(ngModel)]="displayName" class="formInput form-control"
		        maxlength="12" required/>
		        <button class= "btn btn-primary btn-signup" type="submit">Sign Up</button>
			</div>
			 
		</form>

		
	</div>

</div>

<!-- get rememeber password function to work --> 