<div class = "container">
<div class = "col-xs-12">
	<h1>Tesla Hope  </h1>
	<p>By / Andrew Rudd</p>
	<div class = "sharebuttons">
		<ul>
			<li></li>
		</ul>
	</div>
	<div class = "pagecounter"></div>
	<p>The story behind Andrews sustainable energy iniative done at Tesla was to bring hope to millions of refugees is very innovative and relative. The overall story approach is very simple and straight to the point</p>
	<h2>Links</h2>
	<p>
		<a href = "https://www.behance.net/Ruddiculous>">-Behance</a> 
		<a href = "http://ruddiculous.weebly.com//">-Website</a>
	</p>
	<img class = "img-responsive pictures" [src] = "rudd1">
	<img class = "img-responsive pictures" [src] = "rudd2">

	<iframe width="560" height="315" src="https://www.youtube.com/embed/MztsYkASBck" frameborder="0" allowfullscreen></iframe>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/5SKyUjy9WYQ" frameborder="0" allowfullscreen></iframe>




</div>
</div>