<div class = "container">
<div class = "col-xs-12">
	<h1>Honda Racer Rendering Demo </h1>
	<p>By / Designerspen Jun 6, 2017 </p>
	<div class = "row icons ">
		<ul class = " socials">
			 <a href="http://www.facebook.com/sharer.php?u=http://designerspen.com/blogpost2.html" target="_blank">
			 	<li><img class= "img-responsive pictures" [src]="facebook"> </li>
			 </a>

			 <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
			   <li><img class= "img-responsive pictures" [src]="pintrest"></li>
			</a>

			 <a href="https://twitter.com/share?url=http://designerspen.com/blogpost2.html&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
			<li><img class= "img-responsive pictures" [src]="twitter"></li>
			</a>
			<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://designerspen.com/blogpost2.html" target="_blank">
			<li><img class= "img-responsive pictures" [src]="linkedin"></li>
			</a>
		</ul>
	</div>
	<div class = "pagecounter"></div>
	<p>Quick rendering I did for hitting 30k followers on insta wooh! It's weird to imagine 30,000 people clicked a little blue button just to follow the stuff I post. I'm just a normal dude who just happens to be DECENT at drawing cars but oh well here's a honda racer thingy I did this morning beofre eating some captian crunch. </p>
	<h2>Links</h2>
	<p>
		
		<a href = "http://www.designerspen.com//">Website</a>
	</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/fwPGvchTmRw" frameborder="0" allowfullscreen></iframe>
	<img class = "img-responsive pictures" [src] = "hr1">
	<img class = "img-responsive pictures" [src] = "hr2">






</div>
</div>